[flake8]
max-complexity = 10
select = C,E,F,W,B,B902
ignore =
    # Do not use bare except:
    # Reason: Duplicate of E722.
    B001,
    # Continuation line under-indented for hanging indent.
    # Reason: Hanging indent is not used for the project.
    E121,
    # Continuation line over-indented for hanging indent
    # Reason: Hanging indent is not used for the project.
    E126,
    # Closing bracket is missing indentation
    # Reason: Hanging indent is not used for the project.
    E133,
    # Line break before binary operator
    # Reason: As per PEP8 suggestions, put line breaks after binary operators
    # for the project.
    W503
