autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
entrypoints==0.3
flake8==3.7.7
idna==2.8
ipython==7.5.0
ipython-genutils==0.2.0
jaconv==0.2.4
jedi==0.14.0
mccabe==0.6.1
mecab-python3==0.996.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pymongo==3.8.0
pytz==2019.1
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
