{% extends "search/base.html" %}
{% load static %}

{% block title %}Myaku{% endblock %}

{% block content %}
<div class="container-fluid bg-white shadow-sm">
  <div class="container">
    <div class="row mb-3 pt-2">
      <div class="col">
        <img src="{% static "images/myaku_logo.png" %}"/>
      </div>
      <div class="col">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/FriedRice/Myaku">Github</a>
          </li>
        </ul>
      </div>
    </div>

    <form class="pb-3 mb-2" action="/" method="get">
      <div class="row">
        <div class="col-9">
          <div class="input-group">
            <input class="form-control" id="query" type="text" name="q"
                value="{{ request.GET.q }}"
                placeholder="Japanese word, set phrase, idiom, etc.">
            <div class="input-group-append">
              <select class="form-control" name="match_type">
                <option selected>Starts with</option>
                <option>Exact match</option>
                <option>Ends with</option>
              </select>
            </div>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container bg-light">
  {% block search_results %}{% endblock %}
</div>

{% endblock %}
