{% extends "search/base.html" %}

{% block title %}Myaku{% endblock %}

{% block content %}
<form action="/" method="get">
    <input id="query" type="text" name="q" required>
    <input type="submit" value="Search">
</form>

{% if display_results %}
    <p>
        Found {{ query_result_set.instance_count }} instances of
        「{{ request.GET.q }}」 across {{ query_result_set.article_count }}
        articles.
    </p>
    {% for article_result in query_result_set.ranked_article_results %}
        <br/>
        <p>
            {{ forloop.counter }}.
            <a href="{{ article_result.source_url }}">
                {{ article_result.title }}
            </a> - 
            {{ article_result.source_name }} -
            {{ article_result.publication_datetime|date:"M jS, Y" }}
        </p>
        <p>Total characters: {{ article_result.alnum_count }}</p>
        <p>Total instances: {{ article_result.total_instances }}</p>
        <p>Tags: {{ article_result.tags|join:", " }}</p>

        <ul style="list-style-type:none">
        {% for instance_result in article_result.instance_results %}
            <li>
                {{ instance_result.pos_percent }}%:
                {{ instance_result.sentence_start_text}}
                <strong>{{ instance_result.instance_text }}</strong>
                {{ instance_result.sentence_end_text }}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}
