{% extends "search/base.html" %}

{% block tile_content %}
<div class="row mb-3">
  <div class="col col-lg-9 card pt-2 px-3 start-tile shadow-sm">
    <h4 class="myaku-color">What is Myaku?</h4>
    <p><span class="key-word">Myaku</span> is a tool for learning Japanese
    from context.</p>

    <p>It helps develop a natural feel for Japanese by showing in what
    <span class="key-word">context</span> natives use it today.</p>

    <p class="mb-1">It works like this:</p>

    <ol class="myaku-color-ol">
      <li>Search for a Japanese term of interest.</li>
      <li>Get ranked links to select Japanese articles showing real usage of the term.</li>
      <li>Gain a natural feel for how the term is used by checking out the articles.</li>
    </ol>
  </div>
</div>
<div class="row mb-3">
  <div class="col col-lg-9 card pt-2 px-3 start-tile shadow-sm">
    <h4 class="myaku-color">Getting Started</h4>
    <p class="mb-1">Here are some sample searches to get started:</p>

    <ul class="myaku-color-ul">
      <li>A normal word - <a href="/?q=力士">力士</a></li>
      <li>A set phrase - <a href="/?q=非常に激しい雨">非常に激しい雨</a></li>
      <li>A proverb - <a href="/?q=急がば回れ">急がば回れ</a></li>
      <li>An idiom - <a href="/?q=歯が立たない">歯が立たない</a></li>
    </ul>
  </div>
</div>

{% endblock %}
