{% extends "search/base.html" %}

{% block tile_content %}
<div class="start-tile-container">
  <section class="tile start-tile">
    <h4 class="main-tile-header">What is Myaku?</h4>
    <p><span class="key-word">Myaku</span> is a tool for learning Japanese
    from context.</p>

    <p>It helps develop a natural feel for Japanese by showing in what
    <span class="key-word">context</span> natives use it today.</p>

    <p class="list-start-text">It works like this:</p>
    <ol class="myaku-ol">
      <li>Search for a Japanese term of interest.</li>
      <li>Get ranked links to select Japanese articles showing real usage of the term.</li>
      <li>Gain a natural feel for how the term is used by checking out the articles.</li>
    </ol>
  </section>

  <section class="tile start-tile">
    <h4 class="main-tile-header">Getting Started</h4>

    <p class="list-start-text">Here are some sample searches to get started:</p>
    <ul class="myaku-ul">
      <li>A normal word -
        <span class="japanese-text" lang="ja">
          <a href="/?q=力士">力士</a>
        </span>
      </li>
      <li>A set phrase -
        <span class="japanese=text" lang="ja">
          <a href="/?q=非常に激しい雨">非常に激しい雨</a>
        </span>
      </li>
      <li>A proverb -
        <span class="japanese-text" lang="ja">
          <a href="/?q=急がば回れ">急がば回れ</a>
        </span>
      </li>
      <li>An idiom -
        <span class="japanese-text" lang="ja">
          <a href="/?q=歯が立たない">歯が立たない</a>
        </span>
      </li>
    </ul>
  </section>
</div>

{% endblock %}
